body {
  display: flex;
  justify-content: center;
}

#main {
  position: relative;
  background-color: rgba(14, 46, 13, 0.95);
  box-shadow: 15px 15px 10px rgb(219, 223, 224);
  width: 50rem;
  height: 25rem;
  border-radius: 20px;
  padding: 2rem;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  margin-top: 0.8rem;
  text-align: center;
  color: #e2c470;
}

#quote {
  margin-left: 1.2rem;
  font-size: 2rem;
  color: #e2c470;
}

#btne {
  box-shadow: 5px 5px 3px rgb(192, 196, 197);
  transition: 0.08s transform ease-in-out;
  background-color: rgb(12, 73, 32);
  color: #e2c470;
  position: absolute;
  bottom: 10%;
  left: 40%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 40px;
}
#btne:active {
  transform: translatez(7%);
}

#author {
  position: absolute;
  bottom: 29.5%;
  color: #e2c470;
  padding: 1.5rem 0;
  font-family: "Bebas Neue", cursive;
}
#author-name {
  justify-content: center;
  color: #e2c470;
  padding: 1.5rem 0;
  font-family: "Bebas Neue", cursive;
}
